<%- include(`partials/header`) -%>
    <h1>Latest Posts</h1>
    <br>
    <br>
    <div id='posts-holder'>
        <% posts.forEach((post) => { %>
            <div class='post'>    
                <a href=''><div class='post-title'></a>
                    <h1><%= post.postTitle %></h1>
                </div>
                <div class='post-body'>
                    <p>
                        <%= post.postBody.substring(0, 800) + "... "%>
                        <a href='/posts/<%=post.postTitle%>'>Read More</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
<%- include(`partials/footer`) -%>